{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flow-vars"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    // enable additional rules
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [0],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "linebreak-style": 0,
    "no-undef":0,
    "react/forbid-prop-types": 0,
    "computed-property-spacing": 0,
    "no-useless-computed-key": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}